<form action="{{ path("fos_user_registration_register") }}" method="post" id="form-register">
    <div class="col-md-12">
        <div class="form-group">
            {{ form_widget(form.email,{'attr':{'placeholder':" Email",'style':'font-family:Arial, FontAwesome','class':'login-username-input'}}) }}
        </div>
    </div>
    <div class="col-md-12 text-center">
        <button type="submit" class="btn btn-login-from">Register</button>
    </div>
    <div class="col-md-6">
        <div class="checkbox text-right">
            <a href="{{ path('fos_user_security_login') }}" class="login-forget-password" ><i class="fa fa-sign-in"></i> Login</a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="checkbox text-left">
            <a href="{{path('fos_user_resetting_request')}}" class="login-forget-password">Forget Password?</a>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-6 text-center social-btn">
        <a id="fb-login" href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" class="btn btn-login-facebook">Sign In <i class="fa fa-facebook-f"></i></a>
    </div>
    <div class="col-md-6 text-center social-btn">
        <a id="twitter-login" href="{{ path('hwi_oauth_service_redirect', {'service': 'twitter' }) }}" class="btn btn-login-twitter">Sign In <i class="fa fa-twitter"></i></a>
    </div>
    <div class="clearfix"></div>
    {{ form_rest(form) }}
</form>
