<div class="pmbb-view">
    <div class="fg-line">
        {{ form_errors(form) }}
    </div>
    {{ form_start(form,{'action': path('fly_user_profile_change_password'),'attr':{'id':'profile-password-form'}}) }}
    <div class="fg-line">
        {#{{ dump(form) }}#}
        {{ form_widget(form) }}
    </div>

    <div class="m-t-10">
        <button class="btn btn-primary btn-sm waves-effect waves-button waves-float" id="submit-password">Change</button>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>