{% extends "FlyPlatformBundle::material_layout.html.twig" %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block header_title %}{% endblock %}

{% block body_main %}


    <div class="col-md-3">

        {{ render(controller("FlyPlatformBundle:Advert:menu", {'limit': 2})) }}
        {{ render(controller("FlyUserBundle:Invitation:unconfirmed")) }}
    </div>
    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
                <h2>All adverts
                    {#<small>Animated Alerts with custome types and alignments</small>#}
                </h2>
            </div>
            <div class="card-body card-padding">

                {% for advert in pagination %}
                    <div class="card">
                        <div class="card-header bgm-cyan">
                            <h2>{{ advert.title }}
                                <small>{{ advert.date|date('d/m/Y') }} - {{ advert.author }}</small>
                            </h2>

                            <ul class="actions actions-alt">
                                <li class="dropdown">
                                    <a href="" data-toggle="dropdown" aria-expanded="false">
                                        <i class="md md-more-vert"></i>
                                    </a>

                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
                                            <a href="">Refresh</a>
                                        </li>
                                        <li>
                                            <a href="">Manage Widgets</a>
                                        </li>
                                        <li>
                                            <a href="">Widgets Settings</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                        <div class="card-body card-padding">
                            {{ advert.content|truncate(200,'...') }}
                        </div>
                    </div>
                {% endfor %}
                {{ knp_pagination_render(pagination) }}
                <div><b>Total</b>: {{ pagination.getTotalItemCount }}</div>
            </div>
        </div>
    </div>

{% endblock %}

