{% extends "FlyUserBundle::login_layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block formblock %}
    <div class="login-notice  ">
        {{ 'resetting.password_already_requested'|trans }}
    </div>
    <div class="col-md-6">
        <div class="checkbox text-right">
            <a href="{{path('fos_user_security_login')}}" class="login-forget-password">Login</a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="checkbox text-left">
            <a href="{{ path('fos_user_registration_register') }}" class="login-forget-password">Register</a>
        </div>
    </div>
    <div class="clearfix"></div>

{% endblock %}
{#{% block formblock %}#}
    {#{% include "FlyUserBundle:Resetting:request_content.html.twig" %}#}
{#{% endblock %}#}



{#{% block fos_user_content %}#}
{#<div class="login-wrap">#}
    {#<div class="login-box">#}
        {#<div class="login-title text-center">#}
            {#<img src="{{ asset('img/login-logo.png') }}" alt="" height="40px"/>#}
        {#</div>#}

        {#<div class="login-form-wrap">#}
            {#<div class="login-notice col-md-12 ">#}
                {#{{ 'resetting.password_already_requested'|trans }}#}
            {#</div>#}
            {#<div class="col-md-6">#}
                {#<div class="checkbox text-right">#}
                    {#<a href="{{path('fos_user_security_login')}}" class="login-forget-password">Login</a>#}
                {#</div>#}
            {#</div>#}
            {#<div class="col-md-6">#}
                {#<div class="checkbox text-left">#}
                    {#<a href="{{ path('fos_user_registration_register') }}" class="login-forget-password">Register</a>#}
                {#</div>#}
            {#</div>#}
            {#<div class="clearfix"></div>#}
        {#</div>#}

    {#</div>#}
{#</div>#}
{#<ul class="about-hrefs">#}
    {#<li><a href="">Who We Are</a></li>#}
    {#<li><a href="">Privacy Policy</a></li>#}
    {#<li><a href="">Sales Condition</a></li>#}
{#</ul>#}
{#<div class="clearfix"></div>#}
{#<div class="lc-block toggled" id="l-login">#}
        {#<div class="form-block">#}
		{#<p>{{ 'resetting.password_already_requested'|trans }}</p>#}
        {#</div>#}
	{#<ul class="login-navigation">#}
		{#<li class="bgm-green"><a href="{{path('fos_user_security_login')}}">Login</a></li>#}
		{#<li  class="bgm-red"><a href="{{path('fos_user_registration_register')}}">Register</a></li>#}
	{#</ul>#}
{#</div>#}

{#{% endblock fos_user_content %}#}
