<ul class="header-inner">
    <li >
        <div class="line-wrap">
            <div class="line top"></div>
            <div class="line center"></div>
            <div class="line bottom"></div>
        </div>
    </li>

    <li class="pull-left logo hidden-xs">
        <a href="{{ path('fly_platform_home') }}" class="brand">Flyeurope20</a>
    </li>
	<li class="pull-left search-box">
		<input type="text">
	</li>

    <li class="pull-right">
        <ul class="top-menu">
		<style>

		</style>
		<li class="profile divider profile-img">
			<a href="{{path('fos_user_profile_show')}}">
                <img class="img-responsive profile-image-nav" id="user-profile-img"
                     src="{{ userPhoto(app.user, 30, 30) }}" alt="" width="30px">
				<span>{{app.user}}</span>
			</a>
		</li>

        {#<li class="simple-icons">#}
            {#<a href="">#}
                {#<i class="fa fa-home"></i> <span>Home</span>#}
            {#</a>#}
        {#</li>#}
		<li class="simple-icons">
			<a href="{{path('fos_user_group_list')}}"><i class="fa fa-users"></i></a>
		</li>
            <li class="dropdown pull-left simple-icons">

                <a data-toggle="dropdown" class="tm-message" href=""><i class="fa fa-envelope"></i>
                    {#<i class="tmn-counts">6</i>#}
                </a>

                <div class="dropdown-menu dropdown-menu-lg pull-right">
                    <div class="listview">
                        <div class="lv-header">
                            Messages
                        </div>
                        <div class="lv-body c-overflow">
                            <a class="lv-item" href="">
                                <div class="media">
                                    <div class="pull-left">

                                        <img class="lv-img-sm" src="/img/profile-pics/1.jpg" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="lv-title">David Belle</div>
                                        <small class="lv-small">Cum sociis natoque penatibus et magnis dis parturient
                                            montes
                                        </small>
                                    </div>
                                </div>
                            </a>
                            <a class="lv-item" href="">
                                <div class="media">
                                    <div class="pull-left">
                                        <img class="lv-img-sm" src="/img/profile-pics/2.jpg" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="lv-title">Jonathan Morris</div>
                                        <small class="lv-small">Nunc quis diam diamurabitur at dolor elementum, dictum
                                            turpis vel
                                        </small>
                                    </div>
                                </div>
                            </a>
                            <a class="lv-item" href="">
                                <div class="media">
                                    <div class="pull-left">
                                        <img class="lv-img-sm" src="/img/profile-pics/3.jpg" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="lv-title">Fredric Mitchell Jr.</div>
                                        <small class="lv-small">Phasellus a ante et est ornare accumsan at vel magnauis
                                            blandit turpis at augue ultricies
                                        </small>
                                    </div>
                                </div>
                            </a>
                            <a class="lv-item" href="">
                                <div class="media">
                                    <div class="pull-left">
                                        <img class="lv-img-sm" src="/img/profile-pics/4.jpg" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="lv-title">Glenn Jecobs</div>
                                        <small class="lv-small">Ut vitae lacus sem ellentesque maximus, nunc sit amet
                                            varius dignissim, dui est consectetur neque
                                        </small>
                                    </div>
                                </div>
                            </a>
                            <a class="lv-item" href="">
                                <div class="media">
                                    <div class="pull-left">
                                        <img class="lv-img-sm" src="/img/profile-pics/4.jpg" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="lv-title">Bill Phillips</div>
                                        <small class="lv-small">Proin laoreet commodo eros id faucibus. Donec ligula
                                            quam, imperdiet vel ante placerat
                                        </small>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <a class="lv-footer" href="">View All</a>
                    </div>
                </div>
            </li>
            {#<li class="dropdown">
                <a data-toggle="dropdown" class="tm-notification" href="">{% if app.user.invitation|length %}<i
                            class="tmn-counts">{{ app.user.invitation|length }}</i>{% endif %}</a>

                <div class="dropdown-menu dropdown-menu-lg pull-right">
                    <div class="listview" id="notifications">
                        <div class="lv-header">
                            Notification

                            <ul class="actions">
                                <li class="dropdown">
                                    <a href="" data-clear="notification">
                                        <i class="md md-done-all"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="lv-body c-overflow">
                            {% for invite in app.user.invitation %}
                                <a class="lv-item"
                                   href="{{ path('fos_user_group_show',{'groupName':invite.group.name}) }}">
                                    <div class="media">
                                        <div class="pull-left">
                                            <img class="lv-img-sm"
                                                 src="{{ web_image('uploads/'~invite.group.picture).zoomCrop(60,60,0,'center','center') }}"
                                                 alt="{{ invite.group.name }}">
                                        </div>
                                        <div class="media-body">
                                            <div class="lv-title">{{ invite.group.name }}</div>
                                            <small class="lv-small">{{ invite.group.description|truncate(150) }}</small>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>

                        <a class="lv-footer" href="">View All</a>
                    </div>

                </div>
            </li>#}

			<li class="simple-icons dropdown">
                {{ render(controller('FlyUserBundle:Notification:nav')) }}
				{#<a href="#" data-toggle="dropdown"><i class="fa fa-flag"></i><div style="position: absolute; top: -20px; right:0;"><span class="label label-warning">2</span></div></a>#}
                {#<div class="dropdown-menu dropdown-menu-lg pull-right">#}
                    {#<div class="listview">#}
                        {#<div class="lv-header">#}
                            {#Messages#}
                        {#</div>#}
                        {#<div class="lv-body c-overflow">#}
                            {#<a class="lv-item" href="">#}
                                {#<div class="media">#}
                                    {#<div class="pull-left">#}
                                        {#<img class="lv-img-sm" src="/img/profile-pics/1.jpg" alt="">#}
                                    {#</div>#}
                                    {#<div class="media-body">#}
                                        {#<div class="lv-title">David Belle</div>#}
                                        {#<small class="lv-small">Cum sociis natoque penatibus et magnis dis parturient#}
                                            {#montes#}
                                        {#</small>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</a>#}
                        {#</div>#}
                        {#<a class="lv-footer" href="">View All</a>#}
                    {#</div>#}
                {#</div>#}
			</li>
            {#<li class="simple-icons" id="top-logout">#}
                {#<a href="{{ path('fos_user_security_logout') }}" class="tm-logout" title="Log Out"><i class="fa fa-sign-out"></i></a>#}
            {#</li>#}

        </ul>
    </li>
</ul>

<!-- Top Search Content -->
<div id="top-search-wrap">
    <input type="text">
    <i id="top-search-close">&times;</i>
</div>