<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('fly_platform_home') }}">FlyEurope20</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left" role="search">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button class="btn btn-default " type="button"><i class="fa fa-search"></i></button>
                  </span>
                    <input type="text" class="form-control" placeholder="Search for...">
                </div>
                <!-- /input-group -->
            </form>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Groups<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path('fos_user_group_list') }}"><i class="fa fa-list"></i> My Groups</a></li>
                        <li><a href="{{ path('fos_user_group_new') }}"><i class="fa fa-plus-circle"></i> Create Group</a></li>
                        </ul>

                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {%  if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li><a href="#"><i class="fa fa-bell"></i></a></li>
                    <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <i class="fa fa-user"></i> {{ app.user.username }}
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">My Profile</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i> Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}"><i class="fa fa-sign-in"></i> Login</a></li>
                    <li><a href="{{ path('fos_user_registration_register') }}"><i class="fa fa-user-plus"></i> Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>