{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path("fos_user_security_check") }}" method="post" id="form-login">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="text" class="form-control login-username-input"
                               id="username" name="_username" value="{{ last_username }}" required="required"
                               placeholder="&#xf003; Username or Email" style="font-family:Arial, FontAwesome">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="password" class="form-control login-password-input"
                               id="password" name="_password" required="required"
                               placeholder="&#xf023; Password" style="font-family:FontAwesome">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="checkbox text-left">
                        <a href="{{path('fos_user_resetting_request')}}" class="login-forget-password">Forget Password?</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="checkbox login-checkbox-remember text-right">
                        <label>
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on">
                            {{ 'security.login.remember_me'|trans }}
                        </label>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-login-from">Log In</button>
                </div>
                {#<div class="col-md-12 text-center line-on-separator">#}
                    {#<span> OR </span>#}
                {#</div>#}
                {#<div class="col-md-12 text-center">#}
                    {#<a href="{{path('fos_user_registration_register')}}" class="btn btn-register-from">Register</a>#}
                {#</div>#}
                {#<div class="clearfix"></div>#}

                {#<div class="col-md-6 text-center social-btn">#}
                    {#<a id="fb-login" href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" class="btn btn-login-facebook">Sign In <i class="fa fa-facebook-f"></i></a>#}
                {#</div>#}
                {#<div class="col-md-6 text-center social-btn">#}
                    {#<a id="twitter-login" href="{{ path('hwi_oauth_service_redirect', {'service': 'twitter' }) }}" class="btn btn-login-twitter">Sign In <i class="fa fa-twitter"></i></a>#}
                {#</div>#}
                {#<div class="clearfix"></div>#}
            </form>


